<!-- loader to put load while login data is authenticate -->
<div class="loader" *ngIf="dataLoading"></div>
<!-- error message is the login is failed -->
<div class="loader" *ngIf="error">{{errorMessage}}</div>
<!-- form starts -->

<form  #formLogin="ngForm" (ngSubmit)="login(formLogin.value)">
  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" #uname="ngModel" required ngModel>

    <div class="alert alert-danger" role="alert" *ngIf="uname.invalid && (uname.dirty || uname.touched)">
      Enter valid username !
    </div>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" #psw="ngModel" required ngModel>
    <div class="alert alert-danger" role="alert" *ngIf="psw.invalid && (psw.dirty || psw.touched)">
      Incorrect password !
    </div>
    <button type="submit">Login</button>
  </div>
</form>