<div class="loader" *ngIf="dataLoading"></div>
<div class="alert alert-danger" role="alert" *ngIf="error">
  An Error occured.  Here is the error message {{errorMessage}}
</div>

<div class="container-fluid con">
  <div class="row">
    <div class="col-md-5 col-sm-12 pad"><img  src="../../assets/images/icons/log_Dcafe.png" width="12%"><span class="spa">DESIGNCAFE</span></div>
    <div class="col-md-7 col-sm-12"></div>
    <hr class="hr">
  </div>
  
  <div class="row">
    <div class="col-md-4 col-sm-12 rr">
      <div class="form-group has-search">
         <span class="fa fa-search form-control-feedback fu"></span>
         <input type="text" class="form-control" placeholder="Search">
      </div>
    </div>
    <div class="col-md-4 col-sm-12"></div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12 mm">
      <ul class="center">
         <li class="li hover"  routerLink="/aboutus">Browse</li>
         <li class="li hover" routerLink="/settings">Download</li>
         <input type="file" (change)="onChange($event.target.files)">
        <li class="li hover" routerLink="/login">Sign out</li>
      </ul>
    </div>

    <div class="col-md-8 col-sm-12">
       <div class="container">            
        <table class="table">
            <thead>
              <tr>
               <th class="co th thh">Serial No.</th>
               <th class="th thh">Customer Name</th>
               <th class="th thh">Date/Time</th>
               <th class="th thh">File Name</th>
               <th class="th thh">File Type</th>
             </tr>
           </thead>
           <tbody>
              <tr *ngFor="let iteration of totalArr; let i = index">
                <td class="co">{{i}}</td>
                 <td class="bo">{{iteration}}</td>
                 <td class="bo">{{iteration}}</td>
                 <td class="bo">{{iteration}}</td>
                 <td class="bo" ><span   style="color:white">{{iteration}} </span></td>
                 <td class="bo" ><span   style="color:white">{{iteration}}  </span></td>
                 <td class="bo" ><i class="fa fa-download" aria-hidden="true" (click)="Download()" ></i></td>

              </tr>
              
           </tbody>
     </table>
    </div>              
    </div>
  </div>
  

</div>